.container-games {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.filter-wrap-games {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
  min-width: 300px;
}

.items-wrap-games {
  flex: 2;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}
